<ion-view view-title="Adicionar Evento">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-checkmark-circled" ng-click="addEvent()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome do evento</span>
                <input type="text" placeholder="Encontro com a galera" ng-model="data.nome">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Endereco</span>
                <input type="text" placeholder="Rua zero" ng-model="data.endereco">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Quantidade máxima</span>
                <input type="number" ng-minlength="0" placeholder="15" ng-model="data.quantidadeMaxima">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Data do evento</span>
                <input type="text" ng-model="data.dataEvento" placeholder="25/12/2020">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Link Foto</span>
                <input type="url" ng-model="data.linkUrl" placeholder="http://minhaimagem.com/eu.jpg">
            </label>
        </div>
    </ion-content>
</ion-view>