<ion-view view-title="Cadastro">
  <ion-content class="padding">
    <label class="item item-input">
      <span class="input-label">Nome</span>
      <input type="text">
    </label>
	  <label class="item item-input">
	    <span class="input-label">Login</span>
      <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Senha</span>
	    <input type="password">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Idade</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Idade</span>
	    <input type="number">
	  </label>
  </ion-content>
</ion-view>
