<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Perfil Tab -->
  <ion-tab title="Perfil" icon-off="ion-person" icon-on="ion-person" href="#/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Convites" icon-off="ion-email" icon-on="ion-email" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Eventos" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
